@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    max-width: 640px;
    color: #f9f9f9;
    background: #111;
}

ul li {
    border: 1px solid #f9f9f9;
    border-radius: 10px;
    padding: 0 20px 20px;
    margin-bottom: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

iframe {
    border-radius: 10px;
}