@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 10px;
  font-family: 'Poppins', sans-serif;
  background: #111;
  color: #f9f9f9;
  text-align: center;
}

.description {
  margin: 0 auto;
  max-width: 500px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.item {
  display: flex;
  margin: 20px;
  align-items: center;
  font-size: 0.9rem;
  border-radius: 10px;
  border: 1px solid #f9f9f9;
}

.item img {
  border-radius: 10px;
}

.item p {
  padding: 20px;
}

@media (max-width:600px) {
  .item {
    flex-direction: column;
  }
}